html
{
    margin: none;
    padding: none;
    background-color: lightgray;
}

img
{
   margin-top: 2%;
  margin-left: 3%;
}
ol
{
   
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}
.main 
{
    background-color: lightgray;
    font-size: 32px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: none;
    padding: none;
    text-align: left;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}
.code
{
    width: 62%;
    height: 300px;
    padding: 2%;
    border: 3px solid #ebdd20;
    background: #fbfdff;
    white-space: pre-wrap;
    font-size: 16px;
    font-family: Menlo,Monaco,'Consolas','Courier New',monospace;
   
    overflow-y: scroll;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}